<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.termux" />
    </queries>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 使用情况访问权限 -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- 查询软件包   -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!-- 前台服务   -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <!-- 蓝牙 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!--  termux  -->
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!--读取联系人的权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--写联系人的权限-->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application>
        <activity
            android:name="leakcanary.internal.activity.LeakActivity"
            android:process="@string/text_script_process_name" />
        <activity
            android:name=".execution.ScriptExecuteActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|navigation|orientation|screenLayout|screenSize|uiMode"
            android:process="@string/text_script_process_name"
            android:theme="@style/ScriptTheme" />
        <activity
            android:name="com.aiselp.autox.activity.VueUiScriptActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|navigation|orientation|screenLayout|screenSize|uiMode"
            android:process="@string/text_script_process_name" />
        <activity
            android:name="com.github.aiselp.autox.activity.TransparentActivity"
            android:process="@string/text_script_process_name"
            android:theme="@style/TransparentDialogTheme" />

        <activity
            android:name="com.stardust.autojs.core.permission.PermissionRequestActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="com.stardust.autojs.runtime.api.image.ScreenCaptureRequestActivity"
            android:theme="@style/ScriptTheme.Transparent" />

        <activity
            android:name="com.stardust.autojs.core.image.capture.ScreenCaptureRequestActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="com.stardust.autojs.runtime.api.image.ScreenCaptureRequestActivity"
            android:theme="@style/ScriptTheme.Transparent"
            android:process="@string/text_script_process_name" />

        <service
            android:name=".IndependentScriptService"
            android:foregroundServiceType="mediaPlayback"
            android:process="@string/text_script_process_name" />
        <service
            android:name="com.story.real.store.service.PeAccessibilityService"
            android:exported="false"
            android:label="${appName}"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process="@string/text_script_process_name">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name="com.stardust.autojs.core.image.capture.CaptureForegroundService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            android:process="@string/text_script_process_name" />
        <service
            android:name="com.stardust.enhancedfloaty.FloatyService"
            android:process="@string/text_script_process_name" />
        <service
            android:name="com.stardust.notification.NotificationListenerService"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process="@string/text_script_process_name">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="com.stardust.autojs.core.keyboard.ScriptIME"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:process="@string/text_script_process_name">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <provider
            android:name="com.google.mlkit.common.internal.MlKitInitProvider"
            android:authorities="${applicationId}.mlkitinitprovider"
            tools:node="remove" />
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL"
            android:process="@string/text_script_process_name" />
    </application>

</manifest>
